<br />
<h4>
  Hello! This is a simple demo web app to display the contents of a few randomly
  generted CSV files.
</h4>
<br />
<div>
  <h5>Click the button below to start.</h5>
  <br />
  <div class="form-actions">
    <button
      class="btn"
      type="submit"
      onclick="window.location.href = 'displayfile';"
    >
      LETS GO!
    </button>
  </div>
</div>
